{% extends "components/html.wrap.njk" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block body %}
<header>
  <div class="header-content">
    你好 - {{ user.username }}
  </div>
</header>
<main class="d-flex pt-4 pb-4">

  <div class="left-content flex-fill mr-4" id="vue-person">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">序号</th>
          <th scope="col">姓名</th>
          <th scope="col">电话</th>
          <th scope="col">年龄</th>
          <th scope="col">性别</th>
          <th scope="col">备注</th>
          <th scope="col">
            <span>操作</span>
            <button class="btn btn-sm btn-primary ml-4" @click="showModal('新增')">新增</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(person, idx) of persons" :key="idx">
          <th scope="row">${idx + 1}</th>
          <td>${person.name}</td>
          <td>${person.mobile}</td>
          <td>${person.age}</td>
          <td>${+person.sex === 1 ? '男' : '女'}</td>
          <td>${person.remark}</td>
          <td style="width:194px;">
            <button class="btn btn-sm btn-secondary">查看</button>
            <button class="btn btn-sm btn-warning ml-2">编辑</button>
            <button class="btn btn-sm btn-danger ml-2">删除</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div v-if="!persons.length" class="text-center mt-5 h2" style="color:#999;">暂无数据</div>

    <!-- 添加、编辑、查看 弹窗 -->
    <div v-if="modal.visible">
      {% include "snippets/person-modal.njk" %}
    </div>

  </div>

  <div class="right-content">
    <ul class="list-group zhihu-billboard">
      <li class="list-group-item list-group-item-primary">知乎热榜 - top50</li>
      {% for item in zhihuBillboards %}
      {% if loop.index == 1 %}<li class="list-group-item list-group-item-danger">
      {% elif loop.index == 2 %}<li class="list-group-item list-group-item-warning">
      {% elif loop.index == 3 %}<li class="list-group-item list-group-item-info">
      {% else %}<li class="list-group-item">
      {% endif %}<a href="{{ item.url }}?utm_division=hot_list_page" target="_blank">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</main>

<script src="/js/home.js"></script>
{% endblock %}
